.root {
  height: 100%;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
._2GEDA11 {
  width: 30%;
  height: 50px;
  position: relative;
  left: 70%;
  top: 85px;
  background-image:/* webpackIgnore: true */ url("assets/_2GEDA11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signUpWithEmail {
  color: #000c;
  font-size: 20px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 100%;
  position: relative;
  right: 20%;
  top: 160px;
}
.rectangle3 {
  width: 90%;
  height: 58px;
  position: relative;
  left: -125%;
  top: 80%;
  border-radius: 10px;
  background-color: #4f0da3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.continue {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 153px;
  top: 717px;
  white-space: nowrap;
}
.inputEmailAddress {
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 220px;
  white-space: nowrap;
}
.rectangle5 {
  width: 90%;
  height: 53px;
  position: relative;
  right: 215%;
  top: 199px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.ellipse14 {
  position: absolute;
  left: 6.9333%;
  right: 80.5333%;
  top: 9.7289%;
  bottom: 84.1133%;
  overflow: visible;
}
.arrowLeft {
  width: 10%;
  height: 20px;
  position: absolute;
  left: 5%;
  top: 15%;
  overflow: visible;
}
.usePhoneNumberInstead {
  color: #4f0da3;
  font-size: 15px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 35px;
  top: 338px;
  white-space: nowrap;
}
.weLlVerifyTheEmailProvidedToBe {
  color: #000c;
  font-size: 15px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 100%;
  position: relative;
  right: 305%;
  top: 38%;
}
