.root {
  height: 100%;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
._2GEDA11 {
  width: 49px;
  height: 50px;
  position: absolute;
  left: 294px;
  top: 85px;
  background-image:/* webpackIgnore: true */ url("assets/_2GEDA11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signUpWithEmail {
  color: #000c;
  font-size: 20px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 241px;
  height: 136px;
  position: absolute;
  left: 32px;
  top: 160px;
}
.rectangle3 {
  width: 321px;
  height: 58px;
  position: absolute;
  left: 27px;
  top: 699px;
  border-radius: 10px;
  background-color: #4f0da3;
}
.continue {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 153px;
  top: 717px;
  white-space: nowrap;
}
.inputEmailAddress {
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 220px;
  white-space: nowrap;
}
.rectangle5 {
  width: 311px;
  height: 53px;
  position: absolute;
  left: 32px;
  top: 199px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.ellipse14 {
  position: absolute;
  left: 6.9333%;
  right: 80.5333%;
  top: 9.7289%;
  bottom: 84.1133%;
  overflow: visible;
}
.arrowLeft {
  width: 25.3799px;
  height: 20px;
  position: absolute;
  left: 36.34px;
  top: 94px;
  overflow: visible;
}
.usePhoneNumberInstead {
  color: #4f0da3;
  font-size: 15px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 35px;
  top: 338px;
  white-space: nowrap;
}
.weLlVerifyTheEmailProvidedToBe {
  color: #000c;
  font-size: 15px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 273px;
  position: absolute;
  left: 35px;
  top: 266px;
}
