.root {
  height: 100%;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #4f0da3;
  overflow: hidden;
}
._2GEDA21 {
  width: 138px;
  height: 138px;
  position: absolute;
  left: 119px;
  top: 337px;
  background-image:/* webpackIgnore: true */ url("assets/_2GEDA21.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thePlatformWeBuildTogether {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 84px;
  top: 503px;
  white-space: nowrap;
}
