.root {
  height: 100%;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  overflow: hidden;
}
.rectangle56 {
  width: 100%;
  height: 108px;
  position: absolute;
  left: 0;
  top: -10px;
  overflow: visible;
  background-color: #4f0da3;
}
.howAreYouDoingToday {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 25%;
  top: 57px;
  white-space: nowrap;
}
.youCanWriteUpTo100Words {
  color: #bebcbc;
  font-size: 15px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 33px;
  top: 135px;
  white-space: nowrap;
  display: none;
}
.rectangle50 {
  width: 90%;
  height: 148px;
  position: absolute;
  left: 5%;
  top: 116px;
  border-radius: 10px;
  background-color: #c4c4c436;
  color: #bebcbc;
  font-size: 15px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding: 20px;
}
.rectangle51 {
  width: 90%;
  height: 53px;
  position: absolute;
  left: 5%;
  top: 277px;
  border-radius: 5px;
  background-color: #a59cacbd;
  color: #fff;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addImagesOrVideos {
  color: #fff;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 153.5848px;
  position: absolute;
  left: 101.868px;
  top: 295px;
  display: none;
}
.rectangle512 {
  width: 90%;
  height: 53px;
  position: absolute;
  left: 5%;
  top: 572px;
  border-radius: 5px;
  background-color: #4f0da3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.upload {
  color: #fff;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 163px;
  top: 590px;
  white-space: nowrap;
  display: none;
}
.rectangle52 {
  width: 66px;
  height: 66px;
  position: absolute;
  left: 29px;
  top: 354px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle523.jpeg"),
    /* webpackIgnore: true */ url("assets/rectangle522.jpeg"),
    /* webpackIgnore: true */ url("assets/rectangle52.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover, cover;
}
.unsplash8yPA6ZYq0S {
  width: 66px;
  height: 66px;
  position: absolute;
  left: 108px;
  top: 354px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplash8yPA6ZYq0S.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle54 {
  width: 66px;
  height: 66px;
  position: absolute;
  left: 187px;
  top: 354px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle54.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle55 {
  width: 66px;
  height: 66px;
  position: absolute;
  left: 266px;
  top: 354px;
  border-radius: 5px;
  background-color: #c4c4c41a;
}
.tagFriends {
  color: #000000b2;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 26px;
  top: 444px;
  white-space: nowrap;
  display: none;
}
.addLocation {
  color: #000000b2;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 26px;
  top: 488px;
  white-space: nowrap;
  display: none;
}
.schedulePost {
  color: #000000b2;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 26px;
  top: 534px;
  white-space: nowrap;
  display: none;
}
.line5 {
  width: 121px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  position: absolute;
  left: 29px;
  top: 475px;
  border-bottom: solid 1px #0000001a;
  margin-bottom: -1px;
  display: none;
}
.line6 {
  width: 121px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  position: absolute;
  left: 29px;
  top: 517px;
  border-bottom: solid 1px #0000001a;
  margin-bottom: -1px;
  display: none;
}
.x {
  width: 30px;
  position: absolute;
  left: 84.2666%;
  right: 7.2%;
  top: 4.6224%;
  bottom: 90.4468%;
  overflow: visible;
}
.group48 {
  width: 17px;
  height: 16.4848px;
  position: absolute;
  left: 132px;
  top: 377px;
  overflow: visible;
}
.updateYourFeed {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 20%;
  top: 26px;
  white-space: nowrap;
}
