.root {
  height: 100%;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
._2GEDA11 {
  width: 49px;
  height: 50px;
  position: absolute;
  left: 294px;
  top: 85px;
  background-image:/* webpackIgnore: true */ url("assets/_2GEDA11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pleaseVerifyYourEmail {
  color: #000c;
  font-size: 20px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 32px;
  top: 160px;
  white-space: nowrap;
}
.rectangle3 {
  width: 321px;
  height: 58px;
  position: absolute;
  left: 27px;
  top: 699px;
  border-radius: 10px;
  /*background-color: #4f0da380;*/
  background-color: #4f0da3;
}
.verify {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 168px;
  top: 717px;
  white-space: nowrap;
}
.ellipse14 {
  position: absolute;
  left: 6.9333%;
  right: 80.5333%;
  top: 9.7289%;
  bottom: 84.1133%;
  overflow: visible;
}
.arrowLeft {
  width: 25.3799px;
  height: 20px;
  position: absolute;
  left: 36.34px;
  top: 94px;
  overflow: visible;
}
.group15 {
  width: 300px;
  height: 53px;
  position: absolute;
  left: 32px;
  top: 227px;
  border: 1px solid black;
  border-radius: 10px;
}
.weSentA4DigitsCodeToYourEmail {
  color: #0006;
  font-size: 12px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 32px;
  top: 188px;
  white-space: nowrap;
}
._042 {
  color: #000c;
  font-size: 15px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 168px;
  top: 319px;
  white-space: nowrap;
}
.didnTGetCodeResendCode {
  color: #4f0da366;
  font-size: 12px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 107px;
  top: 344px;
  white-space: nowrap;
}
