.root {
  width: 100%;
  height: 100%;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
}
._2GEDA11 {
  width: 25%;
  height: 50px;
  position: relative;
  left: 75%;
  top: 12%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pleaseVerifyYourEmail {
  color: #000c;
  font-size: 20px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 7%;
  top: 160px;
  white-space: nowrap;
}
.rectangle3 {
  width: 90%;
  height: 58px;
  position: absolute;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  left: 5%;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /*background-color: #4f0da380;*/
  background-color: #4f0da3;
}
.verify {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 168px;
  top: 717px;
  white-space: nowrap;
}
.arrowLeft {
  width: 10%;
  height: 20px;
  position: absolute;
  right: 85%;
  top: 14%;
  overflow: visible;
}
.group15 {
  width: 90%;
  height: 53px;
  position: absolute;
  display: flex;
  left: 5%;
  top: 199px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.weSentA4DigitsCodeToYourEmail {
  color: #0006;
  font-size: 12px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 15%;
  top: 40%;
  white-space: nowrap;
}
._042 {
  color: #000c;
  width: 5%;
  font-size: 15px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 60%;
  top: 315px;
  white-space: nowrap;
}
.didnTGetCodeResendCode {
  color: #4f0da366;
  font-size: 12px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 20%;
  top: 344px;
  white-space: nowrap;
}
