.root {
  height: 100%;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
}
._2GEDA11 {
  width: 35%;
  height: 50px;
  position: absolute;
  left: 70%;
  top: 85px;
  background-image:/* webpackIgnore: true */ url("assets/_2GEDA11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profileDetails {
  color: #000c;
  font-size: 20px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 241px;
  height: 136px;
  position: absolute;
  left: 5%;
  top: 160px;
}
.rectangle3 {
  width: 90%;
  height: 58px;
  position: absolute;
  left: 5%;
  top: 699px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #4f0da3;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.createAccount {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 130px;
  top: 717px;
  white-space: nowrap;
}
.lastName {
  color: #9c515166;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 283px;
  white-space: nowrap;
}
.rectangle5 {
  width: 90%;
  height: 53px;
  position: absolute;
  left: 5%;
  top: 262px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.firstName {
  color: #9c515166;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 217px;
  white-space: nowrap;
}
.rectangle52 {
  width: 90%;
  height: 53px;
  position: absolute;
  left: 5%;
  top: 196px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  padding-left: 20px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.work {
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 346px;
  white-space: nowrap;
}
.rectangle53 {
  width: 90%;
  height: 53px;
  position: absolute;
  left: 5%;
  top: 325px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  padding-left: 20px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.currentCity {
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 409px;
  white-space: nowrap;
}
.rectangle54 {
  width: 90%;
  height: 53px;
  position: absolute;
  left: 5%;
  top: 388px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  padding-left: 20px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.createPassword {
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 535px;
  white-space: nowrap;
}
.rectangle55 {
  width: 311px;
  height: 53px;
  position: absolute;
  left: 32px;
  top: 514px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
}
.ellipse14 {
  position: absolute;
  left: 6.9333%;
  right: 80.5333%;
  top: 9.7289%;
  bottom: 84.1133%;
  overflow: visible;
}
.arrowLeft {
  width: 25.3799px;
  height: 20px;
  position: absolute;
  left: 36.34px;
  top: 94px;
  overflow: visible;
}
.yourDataIsProtectedUnderTheSta {
  color: #0006;
  font-size: 9px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 277px;
  height: 70px;
  position: absolute;
  left: 44px;
  top: 601px;
  display: none;
}
.passwordMustContainCapitalAndS {
  color: #0000004d;
  font-size: 10px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 273px;
  position: absolute;
  left: 44px;
  top: 571px;
  display: none;
}
.dateOfBirth {
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 46px;
  top: 472px;
  white-space: nowrap;
}
.rectangle56 {
  width: 90%;
  height: 53px;
  position: absolute;
  left: 5%;
  top: 451px;
  outline: solid 1px #28282880;
  outline-offset: -1px;
  border-radius: 8px;
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  padding-left: 20px;
}
.group16 {
  width: 162px;
  height: 36px;
  position: absolute;
  left: 161px;
  top: 460px;
  overflow: visible;
}
.rectangle4 {
  width: 6%;
  height: 14px;
  position: absolute;
  left: 5%;
  top: 600px;
  outline: solid 1px #4f0da3;
  outline-offset: -1px;
}
.iAgreeWithThePrivacyPolicyAndT {
  width: 20%;
  color: #000000b2;
  font-size: 10px;
  line-height: 148.3999%;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.025em;
  position: absolute;
  left: 13%;
  top: 600px;
  white-space: nowrap;
}
.check {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 38px;
  top: 623px;
}
.remove_red_eye {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 305px;
  top: 530px;
}
.briefcase {
  position: absolute;
  left: 81.3332%;
  right: 12.8%;
  top: 41.7487%;
  bottom: 55.5418%;
  overflow: visible;
}
