.root {
  height: 1868px;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.trending {
  color: #0009;
  font-size: 18px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 14px;
  top: 282px;
  white-space: nowrap;
}
.automobile {
  color: #0009;
  font-size: 18px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 21px;
  top: 523px;
  white-space: nowrap;
}
.propertyAndRentals {
  color: #0009;
  font-size: 18px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 22px;
  top: 859px;
  white-space: nowrap;
}
.phonesAndAssesories {
  color: #0009;
  font-size: 18px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 23px;
  top: 1084px;
  white-space: nowrap;
}
.beautyCosmetics {
  color: #0009;
  font-size: 18px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 24px;
  top: 1315px;
  white-space: nowrap;
}
.clothingsAssesories {
  color: #0009;
  font-size: 18px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 23px;
  top: 1543px;
  white-space: nowrap;
}
.frame10 {
  width: 358px;
  height: 164px;
  align-items: flex-start;
  position: absolute;
  left: 17px;
  top: 316px;
  background-color: #fff;
  overflow-x: auto;
}
.unsplashZbZ_EJJ4To {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashZbZ_EJJ4To.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplash5cpBWEl6y6c {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 118px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplash5cpBWEl6y6c.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashVOWXF7lsAN0 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 236px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashVOWXF7lsAN0.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toyotaCamry7 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 130px;
  white-space: nowrap;
}
.washingMachine {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 130px;
  white-space: nowrap;
}
._2BedroomFlat {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 130px;
  white-space: nowrap;
}
._20000 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 145px;
  white-space: nowrap;
}
._5000 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 145px;
  white-space: nowrap;
}
._30000PerAnnum {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 145px;
  white-space: nowrap;
}
.lagosNigeria {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1px;
  top: 156px;
  white-space: nowrap;
}
.abujaNigeria {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 119px;
  top: 156px;
  white-space: nowrap;
}
.alakiaIbadan {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 237px;
  top: 156px;
  white-space: nowrap;
}
.unsplashDvTc58ioYUA {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 354px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashDvTc58ioYUA.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashydMz3p5s3M {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 472px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashydMz3p5s3M.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashG4VhA3RBSpQ {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 590px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashG4VhA3RBSpQ.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.venza12 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 129px;
  white-space: nowrap;
}
.iphone13Pro {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 129px;
  white-space: nowrap;
}
.pes5 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 129px;
  white-space: nowrap;
}
._70000 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 144px;
  white-space: nowrap;
}
._95000 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 144px;
  white-space: nowrap;
}
._30000 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 144px;
  white-space: nowrap;
}
.lagosNigeria2 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 355px;
  top: 155px;
  white-space: nowrap;
}
.abujaNigeria2 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 473px;
  top: 155px;
  white-space: nowrap;
}
.alakiaIbadan2 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 591px;
  top: 155px;
  white-space: nowrap;
}
.frame11 {
  width: 358px;
  height: 164px;
  align-items: flex-start;
  position: absolute;
  left: 21px;
  top: 555px;
  background-color: #fff;
  overflow-x: auto;
}
.unsplashOUBjd22gF6w {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashOUBjd22gF6w.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashP7tai9P7HS {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 118px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashP7tai9P7HS.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashO6yH_yAc2Ws {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 236px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashO6yH_yAc2Ws.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toyotaCamry72 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 130px;
  white-space: nowrap;
}
.washingMachine2 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 130px;
  white-space: nowrap;
}
._2BedroomFlat2 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 130px;
  white-space: nowrap;
}
._200002 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 145px;
  white-space: nowrap;
}
._50002 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 145px;
  white-space: nowrap;
}
._30000PerAnnum2 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 145px;
  white-space: nowrap;
}
.lagosNigeria3 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1px;
  top: 156px;
  white-space: nowrap;
}
.abujaNigeria3 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 119px;
  top: 156px;
  white-space: nowrap;
}
.alakiaIbadan3 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 237px;
  top: 156px;
  white-space: nowrap;
}
.unsplashDvTc58ioYUA2 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 354px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashDvTc58ioYUA2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashydMz3p5s3M2 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 472px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashydMz3p5s3M2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashG4VhA3RBSpQ2 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 590px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashG4VhA3RBSpQ2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.venza122 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 129px;
  white-space: nowrap;
}
.iphone13Pro2 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 129px;
  white-space: nowrap;
}
.pes52 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 129px;
  white-space: nowrap;
}
._700002 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 144px;
  white-space: nowrap;
}
._950002 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 144px;
  white-space: nowrap;
}
._300002 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 144px;
  white-space: nowrap;
}
.lagosNigeria4 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 355px;
  top: 155px;
  white-space: nowrap;
}
.abujaNigeria4 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 473px;
  top: 155px;
  white-space: nowrap;
}
.alakiaIbadan4 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 591px;
  top: 155px;
  white-space: nowrap;
}
.frame12 {
  width: 358px;
  height: 164px;
  align-items: flex-start;
  position: absolute;
  left: 22px;
  top: 891px;
  background-color: #fff;
  overflow-x: auto;
}
.unsplash2d4lAQAlbDA {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplash2d4lAQAlbDA.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashWwqZ8CM21gg {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 118px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashWwqZ8CM21gg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashKqMaA8gDfl0 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 236px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashKqMaA8gDfl0.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toyotaCamry73 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 130px;
  white-space: nowrap;
}
.washingMachine3 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 130px;
  white-space: nowrap;
}
._2BedroomFlat3 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 130px;
  white-space: nowrap;
}
._200003 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 145px;
  white-space: nowrap;
}
._50003 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 145px;
  white-space: nowrap;
}
._30000PerAnnum3 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 145px;
  white-space: nowrap;
}
.lagosNigeria5 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1px;
  top: 156px;
  white-space: nowrap;
}
.abujaNigeria5 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 119px;
  top: 156px;
  white-space: nowrap;
}
.alakiaIbadan5 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 237px;
  top: 156px;
  white-space: nowrap;
}
.unsplashDvTc58ioYUA3 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 354px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashDvTc58ioYUA3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashydMz3p5s3M3 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 472px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashydMz3p5s3M3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashG4VhA3RBSpQ3 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 590px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashG4VhA3RBSpQ3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.venza123 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 129px;
  white-space: nowrap;
}
.iphone13Pro3 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 129px;
  white-space: nowrap;
}
.pes53 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 129px;
  white-space: nowrap;
}
._700003 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 144px;
  white-space: nowrap;
}
._950003 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 144px;
  white-space: nowrap;
}
._300003 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 144px;
  white-space: nowrap;
}
.lagosNigeria6 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 355px;
  top: 155px;
  white-space: nowrap;
}
.abujaNigeria6 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 473px;
  top: 155px;
  white-space: nowrap;
}
.alakiaIbadan6 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 591px;
  top: 155px;
  white-space: nowrap;
}
.frame13 {
  width: 358px;
  height: 164px;
  align-items: flex-start;
  position: absolute;
  left: 23px;
  top: 1116px;
  background-color: #fff;
  overflow-x: auto;
}
.unsplashBihIFDNJwKY {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashBihIFDNJwKY.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashGtX5DIIHGqE {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 118px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashGtX5DIIHGqE.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashSHYccVGnAEo {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 236px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashSHYccVGnAEo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toyotaCamry74 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 130px;
  white-space: nowrap;
}
.washingMachine4 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 130px;
  white-space: nowrap;
}
._2BedroomFlat4 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 130px;
  white-space: nowrap;
}
._200004 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 145px;
  white-space: nowrap;
}
._50004 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 145px;
  white-space: nowrap;
}
._30000PerAnnum4 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 145px;
  white-space: nowrap;
}
.lagosNigeria7 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1px;
  top: 156px;
  white-space: nowrap;
}
.abujaNigeria7 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 119px;
  top: 156px;
  white-space: nowrap;
}
.alakiaIbadan7 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 237px;
  top: 156px;
  white-space: nowrap;
}
.unsplashDvTc58ioYUA4 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 354px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashDvTc58ioYUA4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashydMz3p5s3M4 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 472px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashydMz3p5s3M4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashG4VhA3RBSpQ4 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 590px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashG4VhA3RBSpQ4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.venza124 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 129px;
  white-space: nowrap;
}
.iphone13Pro4 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 129px;
  white-space: nowrap;
}
.pes54 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 129px;
  white-space: nowrap;
}
._700004 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 144px;
  white-space: nowrap;
}
._950004 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 144px;
  white-space: nowrap;
}
._300004 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 144px;
  white-space: nowrap;
}
.lagosNigeria8 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 355px;
  top: 155px;
  white-space: nowrap;
}
.abujaNigeria8 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 473px;
  top: 155px;
  white-space: nowrap;
}
.alakiaIbadan8 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 591px;
  top: 155px;
  white-space: nowrap;
}
.frame14 {
  width: 358px;
  height: 164px;
  align-items: flex-start;
  position: absolute;
  left: 24px;
  top: 1347px;
  background-color: #fff;
  overflow-x: auto;
}
.unsplashZbZ_EJJ4To2 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashZbZ_EJJ4To2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplash5cpBWEl6y6c2 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 118px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplash5cpBWEl6y6c2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashVOWXF7lsAN02 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 236px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashVOWXF7lsAN02.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toyotaCamry75 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 130px;
  white-space: nowrap;
}
.washingMachine5 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 130px;
  white-space: nowrap;
}
._2BedroomFlat5 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 130px;
  white-space: nowrap;
}
._200005 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 145px;
  white-space: nowrap;
}
._50005 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 145px;
  white-space: nowrap;
}
._30000PerAnnum5 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 145px;
  white-space: nowrap;
}
.lagosNigeria9 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1px;
  top: 156px;
  white-space: nowrap;
}
.abujaNigeria9 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 119px;
  top: 156px;
  white-space: nowrap;
}
.alakiaIbadan9 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 237px;
  top: 156px;
  white-space: nowrap;
}
.unsplashDvTc58ioYUA5 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 354px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashDvTc58ioYUA5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashydMz3p5s3M5 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 472px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashydMz3p5s3M5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashG4VhA3RBSpQ5 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 590px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashG4VhA3RBSpQ5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.venza125 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 129px;
  white-space: nowrap;
}
.iphone13Pro5 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 129px;
  white-space: nowrap;
}
.pes55 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 129px;
  white-space: nowrap;
}
._700005 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 144px;
  white-space: nowrap;
}
._950005 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 144px;
  white-space: nowrap;
}
._300005 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 144px;
  white-space: nowrap;
}
.lagosNigeria10 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 355px;
  top: 155px;
  white-space: nowrap;
}
.abujaNigeria10 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 473px;
  top: 155px;
  white-space: nowrap;
}
.alakiaIbadan10 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 591px;
  top: 155px;
  white-space: nowrap;
}
.frame15 {
  width: 358px;
  height: 164px;
  align-items: flex-start;
  position: absolute;
  left: 23px;
  top: 1575px;
  background-color: #fff;
  overflow-x: auto;
}
.unsplashZbZ_EJJ4To3 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashZbZ_EJJ4To3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplash5cpBWEl6y6c3 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 118px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplash5cpBWEl6y6c3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashVOWXF7lsAN03 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 236px;
  top: 1px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashVOWXF7lsAN03.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toyotaCamry76 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 130px;
  white-space: nowrap;
}
.washingMachine6 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 130px;
  white-space: nowrap;
}
._2BedroomFlat6 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 130px;
  white-space: nowrap;
}
._200006 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 145px;
  white-space: nowrap;
}
._50006 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 118px;
  top: 145px;
  white-space: nowrap;
}
._30000PerAnnum6 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 236px;
  top: 145px;
  white-space: nowrap;
}
.lagosNigeria11 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1px;
  top: 156px;
  white-space: nowrap;
}
.abujaNigeria11 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 119px;
  top: 156px;
  white-space: nowrap;
}
.alakiaIbadan11 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 237px;
  top: 156px;
  white-space: nowrap;
}
.unsplashDvTc58ioYUA6 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 354px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashDvTc58ioYUA6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashydMz3p5s3M6 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 472px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashydMz3p5s3M6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashG4VhA3RBSpQ6 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 590px;
  top: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/unsplashG4VhA3RBSpQ6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.venza126 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 129px;
  white-space: nowrap;
}
.iphone13Pro6 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 129px;
  white-space: nowrap;
}
.pes56 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 129px;
  white-space: nowrap;
}
._700006 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 354px;
  top: 144px;
  white-space: nowrap;
}
._950006 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 472px;
  top: 144px;
  white-space: nowrap;
}
._300006 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 590px;
  top: 144px;
  white-space: nowrap;
}
.lagosNigeria12 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 355px;
  top: 155px;
  white-space: nowrap;
}
.abujaNigeria12 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 473px;
  top: 155px;
  white-space: nowrap;
}
.alakiaIbadan12 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 591px;
  top: 155px;
  white-space: nowrap;
}
.frame2 {
  width: 349px;
  height: 32px;
  align-items: flex-start;
  position: absolute;
  left: 26px;
  top: 218px;
  background-color: #fff;
  overflow-x: auto;
}
.rectangle43 {
  width: 93px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 1px;
  outline: solid 1px #0006;
  outline-offset: -1px;
  border-radius: 7px;
}
.auto {
  color: #0009;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 25px;
  top: 8px;
  white-space: nowrap;
}
.rectangle44 {
  width: 93px;
  height: 32px;
  position: absolute;
  left: 98px;
  top: 0;
  border-radius: 7px;
  background-color: #d8b5d3;
}
.furniture {
  color: #fff;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 113px;
  top: 7px;
  white-space: nowrap;
}
.rectangle442 {
  width: 93px;
  height: 32px;
  position: absolute;
  left: 197px;
  top: 0;
  outline: solid 1px #00000040;
  outline-offset: -1px;
  border-radius: 7px;
}
.food {
  color: #0c0c0c66;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 224px;
  top: 7px;
  white-space: nowrap;
}
.rectangle443 {
  width: 93px;
  height: 32px;
  position: absolute;
  left: 296px;
  top: 0;
  outline: solid 1px #00000040;
  outline-offset: -1px;
  border-radius: 7px;
}
.services {
  color: #0c0c0c66;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 315px;
  top: 7px;
  white-space: nowrap;
}
.rectangle444 {
  width: 93px;
  height: 32px;
  position: absolute;
  left: 395px;
  top: 0;
  outline: solid 1px #00000040;
  outline-offset: -1px;
  border-radius: 7px;
}
.property {
  color: #0c0c0c66;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 411px;
  top: 7px;
  white-space: nowrap;
}
.rectangle445 {
  width: 93px;
  height: 32px;
  position: absolute;
  left: 494px;
  top: 0;
  outline: solid 1px #00000040;
  outline-offset: -1px;
  border-radius: 7px;
}
.jewlery {
  color: #0c0c0c66;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 517px;
  top: 7px;
  white-space: nowrap;
}
.seeAll {
  color: #000c;
  font-size: 12px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 313px;
  top: 527px;
  white-space: nowrap;
}
.seeAll2 {
  color: #000c;
  font-size: 12px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 314px;
  top: 862px;
  white-space: nowrap;
}
.seeAll3 {
  color: #000c;
  font-size: 12px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 325px;
  top: 1091px;
  white-space: nowrap;
}
.seeAll4 {
  color: #000c;
  font-size: 12px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 323px;
  top: 1322px;
  white-space: nowrap;
}
.seeAll5 {
  color: #000c;
  font-size: 12px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 315px;
  top: 977px;
  white-space: nowrap;
}
.seeAll6 {
  color: #000c;
  font-size: 12px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 316px;
  top: 1208px;
  white-space: nowrap;
}
.seeAll7 {
  color: #000c;
  font-size: 12px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 315px;
  top: 1436px;
  white-space: nowrap;
}
.kongaJobMinE15985367933931 {
  width: 533px;
  height: 195px;
  position: absolute;
  left: 8px;
  top: 709px;
  background-image:/* webpackIgnore: true */ url("assets/kongaJobMinE15985367933931.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url("assets/aD.svg");
  mask-image:/* webpackIgnore: true */ url("assets/aD.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 11px 42px;
  mask-position: 11px 42px;
  -webkit-mask-size: 338px 79px;
  mask-size: 338px 79px;
}
.rectangle198 {
  width: 375px;
  height: 202px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}
.lekkiLagosNG {
  color: #000c;
  font-size: 14px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 138px;
  top: 114px;
  white-space: nowrap;
}
.rectangle197 {
  width: 78px;
  height: 18px;
  position: absolute;
  left: 273px;
  top: 79px;
  border-radius: 4px;
  background-color: #4f0da3;
}
.changeLocation {
  color: #fffc;
  font-size: 7px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 286px;
  top: 84px;
  white-space: nowrap;
}
.rectangle32 {
  width: 206px;
  height: 39px;
  position: absolute;
  left: 26px;
  top: 149px;
  outline: solid 1px #28282866;
  outline-offset: -1px;
  border-radius: 5px;
}
.searchProductServicesWorkEtc {
  color: #0006;
  font-size: 8px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 36px;
  top: 165px;
  white-space: nowrap;
}
.search {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 208px;
  top: 165px;
}
.outlet {
  color: #4f0da3;
  font-size: 23px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 151px;
  top: 74px;
  white-space: nowrap;
}
.rectangle199 {
  width: 377px;
  height: 77px;
  position: absolute;
  left: 0;
  top: 736px;
  background-color: #fff;
}
.rectangle195 {
  width: 343px;
  height: 43px;
  position: absolute;
  left: 16px;
  top: 736px;
  border-radius: 8px;
  background-color: #4f0da3;
}
.addYourProduct {
  color: #fff;
  font-size: 14px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 132px;
  top: 750px;
  white-space: nowrap;
}
.ellipse14 {
  position: absolute;
  left: 6.1333%;
  right: 81.3332%;
  top: 3.319%;
  bottom: 94.0042%;
  overflow: visible;
}
.arrowLeft {
  width: 25.3799px;
  height: 20px;
  position: absolute;
  left: 33.34px;
  top: 77px;
  overflow: visible;
}
.rectangle215 {
  width: 114px;
  height: 39px;
  position: absolute;
  left: 243px;
  top: 149px;
  border-radius: 5px;
  background-color: #4f0da3;
}
.myInventory {
  color: #fff;
  font-size: 12px;
  font-family: Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 265px;
  top: 162px;
  white-space: nowrap;
}
