.root {
  height: 1415px;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.rectangle195 {
  width: 343px;
  height: 43px;
  position: absolute;
  left: 16px;
  top: 786px;
  border-radius: 8px;
  background-color: #4f0da3;
}
.seeAllFollowers {
  color: #fff;
  font-size: 14px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 135px;
  top: 800px;
  white-space: nowrap;
}
.rectangle1952 {
  width: 343px;
  height: 43px;
  position: absolute;
  left: 16px;
  top: 1273px;
  border-radius: 8px;
  background-color: #4f0da3;
}
.seeAll {
  color: #fff;
  font-size: 14px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 167px;
  top: 1287px;
  white-space: nowrap;
}
.suggestions {
  color: #0009;
  font-size: 23px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 19px;
  top: 863px;
  white-space: nowrap;
}
.filter {
  color: #0009;
  font-size: 15px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 316px;
  top: 868px;
  white-space: nowrap;
}
.seeFollowings {
  color: #000c;
  font-size: 15px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 254px;
  top: 206px;
  white-space: nowrap;
}
.unsplashBQMZ5ligqps {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 14px;
  top: 231px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashBQMZ5ligqps.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashAoEwuEH7YAs {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 132px;
  top: 231px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashAoEwuEH7YAs.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashNJHvhXS4C0U {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 250px;
  top: 231px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashNJHvhXS4C0U.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ruthObe {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14px;
  top: 360px;
  white-space: nowrap;
}
.chrisAwolowo {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 132px;
  top: 360px;
  white-space: nowrap;
}
.pelumiOmisakin {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 360px;
  white-space: nowrap;
}
.healthTechnician {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14px;
  top: 375px;
  white-space: nowrap;
}
.lawAndNation {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 132px;
  top: 375px;
  white-space: nowrap;
}
.softwareDeveloper {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 375px;
  white-space: nowrap;
}
.lagosNigeria {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 386px;
  white-space: nowrap;
}
.abujaNigeria {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 133px;
  top: 386px;
  white-space: nowrap;
}
.ileIfeOsun {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 386px;
  white-space: nowrap;
}
.unsplashBhcutpohYwg {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 14px;
  top: 417px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashBhcutpohYwg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashDBwrTc2AD8 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 132px;
  top: 417px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashDBwrTc2AD8.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplash3eebt4Xsg_c {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 250px;
  top: 417px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplash3eebt4Xsg_c.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ruthObe2 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14px;
  top: 546px;
  white-space: nowrap;
}
.chrisAwolowo2 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 132px;
  top: 546px;
  white-space: nowrap;
}
.pelumiOmisakin2 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 546px;
  white-space: nowrap;
}
.healthTechnician2 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14px;
  top: 561px;
  white-space: nowrap;
}
.lawAndNation2 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 132px;
  top: 561px;
  white-space: nowrap;
}
.softwareDeveloper2 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 561px;
  white-space: nowrap;
}
.lagosNigeria2 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 572px;
  white-space: nowrap;
}
.abujaNigeria2 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 133px;
  top: 572px;
  white-space: nowrap;
}
.ileIfeOsun2 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 572px;
  white-space: nowrap;
}
.unsplash3fl4xRSOD6k {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 14px;
  top: 603px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplash3fl4xRSOD6k.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashJ1jYLLlRpA4 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 132px;
  top: 603px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashJ1jYLLlRpA4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashZGa9d1a_4tA {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 250px;
  top: 603px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashZGa9d1a_4tA.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ruthObe3 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14px;
  top: 732px;
  white-space: nowrap;
}
.chrisAwolowo3 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 132px;
  top: 732px;
  white-space: nowrap;
}
.pelumiOmisakin3 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 732px;
  white-space: nowrap;
}
.healthTechnician3 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14px;
  top: 747px;
  white-space: nowrap;
}
.lawAndNation3 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 132px;
  top: 747px;
  white-space: nowrap;
}
.softwareDeveloper3 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 747px;
  white-space: nowrap;
}
.lagosNigeria3 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 758px;
  white-space: nowrap;
}
.abujaNigeria3 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 133px;
  top: 758px;
  white-space: nowrap;
}
.ileIfeOsun3 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 758px;
  white-space: nowrap;
}
.unsplash_fvUcz1H6EY {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 15px;
  top: 905px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplash_fvUcz1H6EY.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashpB01U2NDCQ {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 133px;
  top: 905px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashpB01U2NDCQ.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashVe7xjKImd28 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 251px;
  top: 905px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashVe7xjKImd28.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ruthObe4 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 1034px;
  white-space: nowrap;
}
.chrisAwolowo4 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 133px;
  top: 1034px;
  white-space: nowrap;
}
.pelumiOmisakin4 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 1034px;
  white-space: nowrap;
}
.healthTechnician4 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 1049px;
  white-space: nowrap;
}
.lawAndNation4 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 133px;
  top: 1049px;
  white-space: nowrap;
}
.softwareDeveloper4 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 1049px;
  white-space: nowrap;
}
.lagosNigeria4 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 1060px;
  white-space: nowrap;
}
.abujaNigeria4 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 134px;
  top: 1060px;
  white-space: nowrap;
}
.ileIfeOsun4 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 252px;
  top: 1060px;
  white-space: nowrap;
}
.unsplashVYpbBtkDhNE {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 15px;
  top: 1091px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashVYpbBtkDhNE.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashYYfzJhfNU14 {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 133px;
  top: 1091px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashYYfzJhfNU14.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplashM5Zix_4Jc4k {
  width: 111px;
  height: 124px;
  position: absolute;
  left: 251px;
  top: 1091px;
  border-radius: 5px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url('assets/unsplashM5Zix_4Jc4k.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ruthObe5 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 1220px;
  white-space: nowrap;
}
.chrisAwolowo5 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 133px;
  top: 1220px;
  white-space: nowrap;
}
.pelumiOmisakin5 {
  color: #000c;
  font-size: 13px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 1220px;
  white-space: nowrap;
}
.healthTechnician5 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 1235px;
  white-space: nowrap;
}
.lawAndNation5 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 133px;
  top: 1235px;
  white-space: nowrap;
}
.softwareDeveloper5 {
  color: #000c;
  font-size: 9px;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 1235px;
  white-space: nowrap;
}
.lagosNigeria5 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 1246px;
  white-space: nowrap;
}
.abujaNigeria5 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 134px;
  top: 1246px;
  white-space: nowrap;
}
.ileIfeOsun5 {
  color: #000c;
  font-size: 7px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 252px;
  top: 1246px;
  white-space: nowrap;
}
._23mFollowers {
  color: #000c;
  font-size: 15px;
  font-weight: 500;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14px;
  top: 203px;
  white-space: nowrap;
}
.rectangle58 {
  width: 375px;
  height: 203px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}
.people {
  color: #4f0da3;
  font-size: 23px;
  font-weight: bold;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 149px;
  top: 74px;
  white-space: nowrap;
}
.rectangle32 {
  width: 323px;
  height: 39px;
  position: absolute;
  left: 26px;
  top: 137px;
  outline: solid 1px #28282866;
  outline-offset: -1px;
  border-radius: 5px;
}
.searchNamesLoationWorkEtc {
  color: #0006;
  font-size: 12px;
  font-weight: 300;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 45px;
  top: 151px;
  white-space: nowrap;
}
.search {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 325px;
  top: 150px;
}
._2GEDA11 {
  width: 49px;
  height: 50px;
  position: absolute;
  left: 300px;
  top: 62px;
  background-image:/* webpackIgnore: true */ url('assets/_2GEDA11.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ellipse14 {
  position: absolute;
  left: 6.1333%;
  right: 81.3332%;
  top: 4.3816%;
  bottom: 92.0848%;
  overflow: visible;
}
.arrowLeft {
  width: 25.3799px;
  height: 20px;
  position: absolute;
  left: 33.34px;
  top: 77px;
  overflow: visible;
}
